.tabs{
	
	min-height: 600px;
	
	.tab-content{
		padding: 20px;
	}
	
	.cancel-button{
		 margin-left: 20px;
	}
} 

.transactions {
	
	.add-button{
		font-size: 24px;
		color: white;
	}
	
}

.transaction-list{
	height: 550px;
	
	.transaction-amount{
		float: right;
		text-align: right;
	}
}