@import "transaction-report";

.tabs{
	
	min-height: $height;
	
	.tab-content{
		padding: 20px;
		overflow-y: scroll;
	}
	
	.cancel-button{
		 margin-left: 20px;
	}
} 

.add-button{
	font-size: 24px;
	color: white;
}

.transaction-list{
	height: $height - 12vh;
	overflow-y: scroll;
	
	.transaction-amount{
		float: right;
		text-align: right;
	}
}